*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url('bg.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    justify-content: center;
    overflow-wrap: anywhere; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600ps;
}

.logo{
    display: flex;

    max-width: 450px;
    height: 450px;
    margin-top: -200px;
    margin-bottom: -50px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
    justify-content: space-between;
    font-weight:bold;
    color: #fff;
    font-size: 30px;0
    font-weight: 500;  /* Use numeric values for weight (e.g., 100–900) */
    margin: 0 auto;    /* Centers the text block */
    text-align: center;
    max-width: 1000px;  /* Optional: limit the width for better readability */
} 

.g_id_signin {
 margin-top: 50px;
 cursor: pointer;
 margin-top: 70px;
    width: 300px;
    height: 100px;
    background: transparent;
    color: aliceblue;
    opacity: 1;
    padding: 30px 35px;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    font-family: 'Times New Roman', Times, serif;
}
.g_id_signin {
    display: flex;
    justify-content: center;
    background: transparent;
}
.g_id_onload {
    background: transparent;
    padding: 30px 35px;
} 

 
